<footer class="site-footer">
  <div class="wrapper">
    {% if page.title != 'home' %}
    <h2>All are welcome</h2>
    <p>Game Devs of Color Expo is open to people of all genders, races, and sexual orientations. Please let us know if there’s anything we can do to make you feel comfortable attending this event.</p>
    <p>
      <a href="/codeofconduct">Read our Code of Conduct</a>
    </p>

    <hr>
    {% endif %}

<!-- <h2>Thanks to our 2020 sponsors!</h2> -->
   
<H3>Pricing and Sponsorship</H3>
<P>Game Devs of Color Expo is a labor of love. We can’t do it alone. Ticket sales and sponsorship will help make Game Devs of Color Expo 2021 bigger, better, and as momentous as possible. </P>
<P>Interested in supporting the event? Contact us at gdocexpo@gmail.com or <a class="page-link" href="https://www.paypal.com/donate?hosted_button_id=FK339Z42K8JGQ">donate</a>.</P>



<hr>

<h2>Expo Organizers</h2>

<ul class="col-container sponsors-container">
<li class="col-3">
<p>
<img src="/assets/images/organizers/ChrisAlgoo.jpg">
Chris Algoo<br/>
<a href="https://twitter.com/chrisalgoo?lang=en" target="_blank">@ChrisAlgoo</a><br/>
<a href="http://ChrisAlgoo.com">ChrisAlgoo.com</a><br/>
<p style="font-size:14px;">
Chris is an event organizer, web developer, game designer, and speaker who believes in lifting each other up.
</p>
</li>

<li class="col-3">
<p>
<img src="/assets/images/organizers/ShawnAllen.jpg">
Shawn Allen<br/>
<a href="https://twitter.com/aNuChallenger" target="_blank">@aNuChallenger</a><br/>
<a href="http://Nuchallenger.com">Nuchallenger.com</a><br/>
<p style="font-size:14px;">
Shawn’s 11+ years in games includes producer, designer, artist, animator, writer, trailer editor, and music publisher. Habitual tweeter,  lover of action movies, sneakers and hip-hop. 
</p>
</li>

<li class="col-3">
<p>
<img src="/assets/images/organizers/BrianCarr.png">
Brian Carr<br/>
<a href="https://twitter.com/t3amBrian">@t3amBrian</a><br/>
<a href="http://briancarr.com/" target="_blank">briancarr.com</a><br/>
<p style="font-size:14px;">
Tech co-founder | Indie Game Socialite | Gallery Hopper | UX Designer | Loves video games and the people who make them. 
</p>
</li>
</ul>

<ul class="col-container sponsors-container">
<li class="col-3">
<p>
<img src="/assets/images/organizers/BrianSChung.jpg">
Brian S. Chung<br/>
<a href="https://twitter.com/BrianSChung" target="_blank">@BrianSChung</a><br/>
<a href="https://thesheepsmeow.com" target="_blank">thesheepsmeow.com</a><br/>
<p style="font-size:14px;">
Brian has over a decade of experience designing and producing games for millions of players. He is a co-founder and director at The Sheep’s Meow.
</p>
</li>

<li class="col-3">
<p>
<img src="/assets/images/organizers/GJLee.jpg">
GJ Lee<br/>
<a href="https://twitter.com/whereisgj" target="_blank">@whereisgj</a><br/>
<a href="https://thesheepsmeow.com" target="_blank">thesheepsmeow.com</a><br/>
<p style="font-size:14px;">
GJ is a game developer and educator. She is a co-founder and director of The Sheep’s Meow, an independent game studio and community organization.
</p>
</li>

<li class="col-3">
<p>
<img src="/assets/images/organizers/CattSmall.jpg">
Catt Small<br/>
<a href="https://twitter.com/cattsmall" target="_blank">@cattsmall</a><br/>
<a href="https://cattsmall.com/">cattsmall.com</a><br/>
<p style="font-size:14px;">
Catt is a product designer, game maker, and developer who enjoys creating interactive experiences and helping people to become their best selves.
</p>
</li>
</ul>

<br/>
<p>🌟 Very special thanks to our contributors (Asia Hoe, Emperatriz Ung, Kat Thompson, Rachél Bazelais, Reynaldo Vargas, Réjon Taylor-Foster, Megan Carriker, Raven Feagins), and the many moderators who work on bringing the expo to life before, during, and after the day of the event.</p>
  
    <hr>

	<p align="center">
	&nbsp; <a href="https://twitter.com/GDoCExpo">
	<img src="/assets/images/icon-twitter-g.svg" width="16"/></a>
	&nbsp; <a href="https://www.facebook.com/GDoCExpo/">
	<img src="/assets/images/icon-fb-g.svg" width="16"/></a>
	&nbsp; <a href="https://www.instagram.com/gdocexpo/">
	<img src="/assets/images/icon-insta-g.svg" width="16"/></a>
	</p>

  </div>

</footer>
<script src="{{ site.baseurl }}/js/fluidvids.js"></script>
<script>
  fluidvids.init({
    selector: ['iframe'],
    players: ['www.youtube.com', 'player.vimeo.com']
  });
</script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>
